﻿@{
    Layout = null;

}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Recipe.io </title>
    <link rel="icon" href="~/elements/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/index/skills/progressbar.css">
    <link rel="stylesheet" href="~/css/index/skills/style.css">
    <link rel="stylesheet" href="~/css/index/fonticons.css">
    <link rel="stylesheet" href="~/css/index/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index/teamslide.css" />
    <link rel="stylesheet" href="~/css/index/plugins.css" />
    <link rel="stylesheet" href="~/css/index/style.css">
    <link rel="stylesheet" href="~/css/index/responsive.css" />
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default" id="navmenu">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#home" style="color:white;margin-left:50px;">
                                        RECIPE.IO<img src="~/elements/images/logo.png" style="margin-top:-30px;margin-left:-50px" />
                                    </a>
                                </div>


                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="Index"> Inicio </a></li>
                                        <li><a href="#recetas"> Recetas </a></li>
                                        <li><a href="#portfolio"> Galeria </a></li>
                                        <li><a href="#Planes">Planes</a></li>
                                        <li><a href="#Salud">Salud</a></li>
                                        <li><a href="/home/login"><input type="button" class="btn btn-primary" style="margin-top:-10px;font-size:20px;" value="Iniciar Sesión"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="home" class="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider" style="margin-top:150px;">
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>BUSCAS UNA RECETA RÁPIDA</h1>
                                    <div class="home_btn">
                                        
                                        <a href="" class="btn btn-primary"> Iniciar Ahora </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1> TENEMOS RECETAS DE MENOS DE 10 MINUTOS </h1>
                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary"> Iniciar Ahora </a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1> NO PIERDAS TIEMPO EMPIEZA A COCINAR </h1>
                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary"> Iniciar Ahora </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recetas" class="service">
        <div class="container">
            <div class="row">
                <div class="service_border_raund text-center"></div>
                <div class="main_service_area sections text-center">
                    <div class="head_title text-center">
                        <h2>Tipos de Recetas</h2>
                        <div class="separator"></div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single_service">
                            <div class="single_service_icon">
                                <img src="~/elements/images/service.png" alt="" />
                            </div>

                            <h3> Veganas </h3>
                            <p>
                                Cuenta con un valor nutriconal debido a que se encuentra con una variedad de
                                plantas y otros elementos que hacen que sea saludable y nutriconal.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single_service">
                            <div class="single_service_icon">
                                <img src="~/elements/images/service2.png" alt="" />
                            </div>

                            <h3> Sin Grasas </h3>
                            <p>
                                El valor nutriconal de estas recetas es propio de las plantas y del mismo ambiente debido
                                a que aprovecha la misma grasa del alimento.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single_service">
                            <div class="single_service_icon">
                                <img src="~/elements/images/service3.png" alt="" />
                            </div>

                            <h3> Saludables </h3>
                            <p>
                                Estas son realizadas para una mejora de las personas que realizan ejercicios o tratan
                                de estar saludables comiendo con solo algunas porciones de comida.
                            </p>
                        </div>
                    </div>
                    <br /> <br /> <br />
                    <div class="col-sm-4" style="margin-left: 200px;margin-top: 50px;">
                        <div class="single_service">
                            <div class="single_service_icon">
                                <img src="~/elements/images/service3.png" alt="" />
                            </div>

                            <h3> Nutricionales </h3>
                            <p>
                                Cuenta con un estricto tipo de vida segun sea el caso por lo que puede ir variando
                                segun la persona eliga el tipo de valor nutriconal que escoja.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4" style="margin-top: 50px;">
                        <div class="single_service">
                            <div class="single_service_icon">
                                <img src="~/elements/images/service.png" alt="" />
                            </div>

                            <h3> Grasosas </h3>
                            <p>
                                Tienden a contar con grasas poco saludables con el cuerpo se recomienda no comer muy seguido
                                este tipo de recetas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" class="portfolio greenbackground">
        <div class="container">
            <div class="row">
                <div class="main_mix_content text-center sections">
                    <div class="head_title">
                        <h2> Galeria de Recetas </h2>
                    </div>
                    <div class="main_mix_menu">
                        <ul>
                            <li class="btn btn-primary filter" data-filter="all">PESCADO</li>
                            <li class="btn btn-primary filter" data-filter=".cat1">CARNE</li>
                            <li class="btn btn-primary filter" data-filter=".cat2">ACEITE DE OLVIA</li>
                        </ul>
                    </div>

                    <div id="mixcontent" class="mixcontent">
                        @foreach (var items in ViewBag.Dishes)
                        {
                            <div class="col-md-4 mix cat1 no-padding">
                                <div class="single_mixi_portfolio">
                                    <img src="@items.Imagen" alt="" />
                                    <div class="mixi_portfolio_overlay">
                                        <div class="overflow_hover_text">
                                            <h2>@items.Plato</h2>
                                            <p>Ver contenido de la  receta </p>
                                            <a href="/Home/Login"><i class="fa fa-close fa-spin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Planes" class="blog">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="main_blog_area text-center sections">
                        <div class="head_title">
                            <h2> Planes de Pago </h2>
                            <div class="separator"></div>
                            <p>
                                Contamos con planes baratos y segun sea el tipo de cuenta que eliga
                            </p>
                        </div>

                        <div class="main_blog_content">
                            <div class="container">
                                <div class="row">
                                    <div class="MultiCarousel" >
                                        <div class="MultiCarousel-inner">
                                            <div class="item">
                                                <div class="pad15">
                                                    <br />
                                                    <h4>Cuenta Básica</h4>
                                                    <br />
                                                    <p style="text-align:left;font-family:PMingLiU-ExtB"> Otorga: </p>
                                                    <p style="text-align:justify"> + Ver la receta Completa</p>
                                                    <br /><br /><br /><br /><br /><br /><br />
                                                    <div class="separator3"></div>
                                                    <button> Comprar por $0 </button>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="pad15">
                                                    <br />
                                                    <h4> Cuenta Iron </h4><br />
                                                    <p style="text-align:left;font-family:PMingLiU-ExtB"> Otorga: </p>
                                                    <p style="text-align:justify"> + Ver la receta Completa</p>
                                                    <p style="text-align:justify"> + Ver perfil del Chef </p>
                                                    <p style="text-align:justify"> + Agregar a favoritos </p>
                                                    <br /><br /><br /><br />
                                                    <div class="separator3"></div>
                                                    <button> Comprar por $3 </button>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="pad15">
                                                    <br />
                                                    <h4> Cuenta Gold </h4>
                                                    <br />
                                                    <p style="text-align:left;font-family:PMingLiU-ExtB"> Otorga: </p>
                                                    <p style="text-align:justify"> + Ver la receta Completa</p>
                                                    <p style="text-align:justify"> + Ver perfil del Chef </p>
                                                    <p style="text-align:justify"> + Agregar a favoritos </p>
                                                    <p style="text-align:justify"> + Crea una Receta </p>
                                                    <br /><br />
                                                    <div class="separator3"></div>
                                                    <button> Comprar por $4 </button>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="pad15">
                                                    <br />
                                                    <h4> Cuenta DIAMON </h4><br />
                                                    <p style="text-align:left;font-family:PMingLiU-ExtB"> Otorga: </p>
                                                    <p style="text-align:justify"> + Ver la receta Completa </p>
                                                    <p style="text-align:justify"> + Ver perfil del Chef </p>
                                                    <p style="text-align:justify"> + Agregar a favoritos </p>
                                                    <p style="text-align:justify"> + Consulta con un nutriologo</p>
                                                    <p style="text-align:justify"> + Crea una Receta </p>
                                                    <p style="text-align:justify"> + Cuenta con Soporte de ayuda </p>
                                                    <div class="separator3"></div>
                                                    <button> Comprar por $5 </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="Salud" class="about">
        <div class="container">
            <div class="row">
                <div class="main_about sections">
                    <div class="head_title text-center">
                        <h2> cuidamos tu salud </h2>
                        <div class="separator"></div>
                    </div>

                    <div class="main_about_content_area">
                        <div class="single_about_left_img">
                            <img src="~/elements/images/ab.jpg" alt="" />
                        </div>

                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="single_about_right_content">
                                <div class="demo4">
                                    <div class="right_single_about_skill">
                                        <div class="right_about_top_cotent">
                                            <div class="right_about_top_img">
                                                <img src="~/elements/images/s_ab1.png" alt="" />
                                            </div>
                                            <div class="right_about_top_content">
                                                <h3> RECETAS 100% SALUDABLES </h3>
                                                <p>
                                                    Estas recetas de comidas sabrosas y saludables le pueden ayudar a crear un plan de alimentación sano, incluyendo una variedad de frutas y verduras,
                                                    productos lácteos sin grasa o bajos en grasa, varios alimentos con proteínas y aceites. También significa limitar las grasas saturadas, las grasas 
                                                    trans, los azúcares agregados y la sal. Pruebe estas recetas como parte de un estilo de vida sano.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="right_about_bottom_cotent">
                                            <div class="progress-bar4" data-percentage="76%">
                                                <h4 class="progress-title-holder">
                                                    <span class="progress-number-wrapper">
                                                        <span class="progress-number-mark">
                                                            <span class="percent"></span>
                                                            <span class="down-arrow"></span>
                                                        </span>
                                                    </span>
                                                </h4>
                                                <div class="progress-content-outter">
                                                    <div class="progress-content"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="right_single_about_skill">
                                        <div class="right_about_top_cotent">
                                            <div class="right_about_top_img">
                                                <img src="~/elements/images/s_ab2.png" alt="" />
                                            </div>
                                            <div class="right_about_top_content">
                                                <h3> RECETAS 100% A BASE DE FRUTAS </h3>
                                                <p>
                                                    Recetas con frutas como ingrediente principal. 
                                                    Recetas sanas y deliciosas: Ensaladas de fruta, bizcocho de frutas, 
                                                    batidos de frutas y más recetas de frutas

                                                </p>
                                            </div>
                                        </div>
                                        <div class="right_about_bottom_cotent">
                                            <div class="progress-bar4" data-percentage="43%">
                                                <h4 class="progress-title-holder">
                                                    <span class="progress-number-wrapper">
                                                        <span class="progress-number-mark">
                                                            <span class="percent"></span>
                                                            <span class="down-arrow"></span>
                                                        </span>
                                                    </span>
                                                </h4>
                                                <div class="progress-content-outter">
                                                    <div class="progress-content"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="right_single_about_skill">
                                        <div class="right_about_top_cotent">
                                            <div class="right_about_top_img">
                                                <img src="~/elements/images/s_ab3.png" alt="" />
                                            </div>
                                            <div class="right_about_top_content">
                                                <h3> VALOR NUTRICIOnAL DE NUESTRAS ALIMENTOS </h3>
                                                <p>
                                                    Cada persona, dependiendo de la Edad en la que se encuentre o de
                                                    su estado de salud, requiere una alimentación adaptada a sus necesidades. Desde la infancia hasta
                                                    la edad adulta, las cantidades de alimentos y de nutrientes que
                                                    nuestro cuerpo necesita cambian considerablemente, aunque hay
                                                    algunos aspectos básicos que Deben tenerse en cuenta indistintamente de la edad, como es la
                                                    necesidad de comer fruta y verdura fresca a diario y evitar excesos
                                                    de grasa y azúcares dentro de una dieta de máxima variedad.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="right_about_bottom_cotent">
                                            <div class="progress-bar4" data-percentage="92%">
                                                <h4 class="progress-title-holder">
                                                    <span class="progress-number-wrapper">
                                                        <span class="progress-number-mark">
                                                            <span class="percent"></span>
                                                            <span class="down-arrow"></span>
                                                        </span>
                                                    </span>
                                                </h4>
                                                <div class="progress-content-outter">
                                                    <div class="progress-content"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact" class="footer_widget">
        <div class="container">
            <div class="row">
                <div class="main_widget">


                    <div class="row">

                        <div class="col-sm-4  col-xs-12">
                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                <h4 class="footer_title">CONTÁCTANOS</h4>
                                <div class="separator2"></div>
                                <ul>
                                    <li><a href=""><i class="fa fa-envelope"></i> recipeio@gmail.com</a></li>
                                    <li><a href=""><i class="fa fa-phone"></i> +51 987654321 </a></li>
                                    <li><a href=""><i class="fa fa-fax"></i> (076) 6074632 </a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="single_widget wow fadeIn" data-wow-duration="800ms" style="margin-left:-50px">
                                <h4 class="footer_title" style="text-align:center">Nuestras Redes Sociales</h4>
                                <div class="separator3"></div>

                                <div>
                                    <a href="htpps://www.google.com"><h1 style="color:steelblue"><i class="fa fa-facebook"></i></h1></a>
                                    <a href="htpps://www.google.com"><h1 style="color:steelblue;margin-top:-90px;margin-left:60px;"><i class="fa fa-instagram"></i></h1></a>
                                    <a href="htpps://www.google.com"><h1 style="color:steelblue;margin-top:-90px;margin-left:140px;"><i class="fa fa-youtube"></i></h1></a>
                                    <a href="htpps://www.google.com"><h1 style="color:steelblue;margin-top:-80px;margin-left:210px;"><i class="fa fa-twitch"></i></h1></a>
                                    <a href="htpps://www.google.com"><h1 style="color:steelblue;margin-top:-90px;margin-left:290px;"><i class="fa fa-twitter"></i></h1></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                <h4 class="footer_title" style="text-align:center">RECIPE.IO</h4>
                                <div class="separator3"></div>
                                <p>
                                    Somos una pagina de receta que brindamos a la comunidad recetas saludables
                                    y con una gran cantidad de nutrientes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/index/other/jquery-1.11.2.min.js"></script>
    <script src="~/js/index/other/bootstrap.min.js"></script>
    <script src="~/js/index/jquery.mixitup.min.js"></script>
    <script src="~/css/index/skills/inview.min.js"></script>
    <script src="~/css/index/skills/progressbar.js"></script>
    <script src="~/css/index/skills/main.js"></script>
    <script src="~/js/index/plugins.js"></script>
    <script src="~/js/index/main.js"></script>

</body>
</html>
