﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/css/login/other/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/other/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/other/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/other/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/other/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/other/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style=" background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperstock.net%2Frecipe-book-wallpapers_53636_1920x1200.jpg&f=1&nofb=1');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" action="/home/login" method="post">
                    <span class="login100-form-title p-b-49">
                        Login
                    </span>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Correo Electrónico</span>
                        <input class="input100" type="email" required placeholder="Correo Electrónico" name="email">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Contraseña</span>
                        <input class="input100" type="password" required placeholder="Contraseña" name="password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <br /><br />
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                    <div class="text-right p-t-8 p-b-31">
                        <a href="#">
                            Forgot password?
                        </a>
                    </div>
                    <div class="flex-col-c ">
                        <a href="#" class="btn-success"  style="border-radius:20px; width:120px;text-align:center;">Crear Cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    <script src="~/css/login/other/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/css/login/other/animsition/js/animsition.min.js"></script>
    <script src="~/css/login/other/bootstrap/js/popper.js"></script>
    <script src="~/css/login/other/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/css/login/other/select2/select2.min.js"></script>
    <script src="~/css/login/other/daterangepicker/moment.min.js"></script>
    <script src="~/css/login/other/daterangepicker/daterangepicker.js"></script>
    <script src="~/css/login/other/countdowntime/countdowntime.js"></script>
    <script src="~/js/login/main.js"></script>
</body>
</html>

