﻿@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <title>View Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/css/view-recipe.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form action="/Dashboard/Buscar" method="get">
        <input type="text" class="form-control" autofocus name="name" placeholder="Buscar Receta o Cheff" style="text-align:center"/>
    </form>
    <div id="index-content">
        <section>
            <div class="container">
                <div class="row">
                    <h1 class="text-center">
                        <span> Recetas Fáciles </span>
                    </h1>
                    @foreach (var items in ViewBag.Dishes)
                    {
                        @foreach (var item in ViewBag.Chef)
                        {
                            @if (item.IdChef == items.IdChef)
                            {
                                <div class="col-md-3">
                                    <div class="card profile-card-1">
                                        <a href="/Dashboard/recipe?id=@items.IdDish">
                                            <img src="@items.Imagen" height="400" />
                                            <img src="@item.Foto" class="profile" id="profile-index" />
                                        </a>

                                        <div class="card-content">
                                            <h2>
                                                @items.Plato
                                                <small> Por @item.Nombre</small>
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</body>
</html>