﻿@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Crear Receta</title>

    <!-- Icons font CSS-->
    <link href="~/css/create/other/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/css/create/other/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/css/create/other/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/css/create/other/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/create/index.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title"> Crear Receta </h2>
                    <form method="POST" action="/DashBoard/Create">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Nombre de la Receta" name="Plato">
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="URL del Video" name="Video">
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="URL de la imagen" name="Imagen">
                        </div>
                        <div class="input-group">
                            <textarea class="input--style-1" type="text" placeholder="Descripcion de la Receta" name="Descripcion"></textarea>
                        </div>
                        <div class="input-group">
                            <h5 class="input--style-1"> Chef </h5>
                            <select name="IdChef">
                                <option value="">Seleccionar Chef</option>
                                @foreach (var item in ViewBag.Chefs)
                                {
                                    <option value="@item.IdChef">@item.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/css/create/other/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/css/create/other/select2/select2.min.js"></script>
    <script src="~/css/create/other/datepicker/moment.min.js"></script>
    <script src="~/css/create/other/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->


</body>

</html>
<!-- end document-->
