﻿@{
    Layout = null;

}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Recipe.io </title>
    <link rel="icon" href="~/elements/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/index/skills/progressbar.css">
    <link rel="stylesheet" href="~/css/index/skills/style.css">
    <link rel="stylesheet" href="~/css/index/fonticons.css">
    <link rel="stylesheet" href="~/css/index/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index/teamslide.css" />
    <link rel="stylesheet" href="~/css/index/plugins.css" />
    <link rel="stylesheet" href="~/css/index/style.css">
    <link rel="stylesheet" href="~/css/index/responsive.css" />

</head>
<body data-spy="scroll" data-target=".navbar-collapse" >
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="main_menu_bg " style="background-color:rgb(114,131,152);height:80px">
            <div class="container" >
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default" id="navmenu">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#home" style="color:white;margin-left:50px;">
                                        RECIPE.IO<img src="~/elements/images/logo.png" style="margin-top:-30px;margin-left:-50px" />
                                    </a>
                                </div>

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/Dashboard/"> Inicio </a></li>
                                        <li><a href="/Dashboard/Create"> Crear </a></li>
                                        <li><a href="/Dashboard/Buscar"> Buscar </a></li>
                                        <li><a href="/Dashboard/Profile"> Perfil </a></li>
                                        <li><a href="/Dashboard/Logout"><input type="button" class="btn btn-primary" style="margin-top:-10px;font-size:20px;" value="Cerrar Sesión"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="home" class="home" style="overflow-y:hidden">
        <div class="overlay" style="width:100%;height:100%">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_mix_content text-center sections" style="margin-top:150px">
                            <div class="main_mix_menu">
                                <ul>
                                    <li class="btn btn-default filter" data-filter="all">PESCADO</li>
                                    <li class="btn btn-default filter" data-filter=".cat1">CARNE</li>
                                    <li class="btn btn-default filter" data-filter=".cat2">ACEITE DE OLVIA</li>
                                </ul>
                            </div>

                            <div id="mixcontent" class="mixcontent">
                                @foreach (var items in ViewBag.Dishes)
                                {
                                    <div class="col-md-4 mix cat1 no-padding">
                                        <div class="single_mixi_portfolio">
                                            <img src="@items.Imagen" style="height:200px;width:500px" />
                                            <div class="mixi_portfolio_overlay">
                                                <div class="overflow_hover_text">
                                                    <h2>@items.Plato</h2>
                                                    <p>Ver contenido de la  receta </p>
                                                    <a href="/Dashboard/Recipe?id=@items.IdDish"><i class="fa fa-close fa-spin"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/index/other/jquery-1.11.2.min.js"></script>
    <script src="~/js/index/other/bootstrap.min.js"></script>
    <script src="~/js/index/jquery.mixitup.min.js"></script>
    <script src="~/css/index/skills/inview.min.js"></script>
    <script src="~/css/index/skills/progressbar.js"></script>
    <script src="~/css/index/skills/main.js"></script>
    <script src="~/js/index/plugins.js"></script>
    <script src="~/js/index/main.js"></script>

</body>
</html>
