﻿@{

    Layout = null;
}
<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" href="~/elements/images/logo.png">
    <title> Recipe.io </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
    <link href="~/css/profile/bootstrap.css" rel="stylesheet">
    <link href="~/css/profile/ionicons.css" rel="stylesheet">
    <link href="~/css/profile/fluidbox.min.css" rel="stylesheet">
    <link href="~/css/profile/styles.css" rel="stylesheet">
    <link href="~/css/profile/responsive.css" rel="stylesheet">
</head>
<body>

    <section class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8">
                    @foreach (var item in ViewBag.Dishes)
                    {
                        <div class="intro">
                            <div class="profile-img"><img src="@item.Imagen" alt=""></div>

                            <h2><b>@item.Plato</b></h2>
                            <div>
                            <a href="/Dashboard/AñadirFavorito?id=@item.IdDish">Favorito</a>
                            </div>
                            <div>
                             <a href="/Dashboard/QuitarFavorito?id=@item.IdDish">Quitar Favorito</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <section class="experience-section section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="heading">
                        <h3><b> Descripción del Plato </b></h3>
                    </div>
                </div><!-- col-sm-4 -->
                <div class="col-sm-8">

                    <p class="margin-b-50" style="margin-right:90px">
                        @foreach (var item in ViewBag.Dishes)
                        {

                            @item.Descripcion
                        }
                    </p>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="radial-prog-area margin-b-30">
                                <div class="radial-progress" data-prog-percent=".12">
                                    <div></div>
                                    <h6 class="progress-title"> Saludable </h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="radial-prog-area margin-b-30">
                                <div class="radial-progress" data-prog-percent=".78">
                                    <div></div>
                                    <h6 class="progress-title"> Nutritivo </h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="radial-prog-area margin-b-30">
                                <div class="radial-progress" data-prog-percent=".50">
                                    <div></div>
                                    <h6 class="progress-title"> Talento </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="heading">
                        <h3><b> Video demostrativo </b></h3>
                    </div>
                </div><!-- col-sm-4 -->
                confi
                <br />
                <br />
                @foreach (var item in ViewBag.Dishes)
                {
                    <iframe width="560" height="315" src="@item.Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <br />
                }

            </div>
        </div>
    </section>

    <section class="portfolio-section section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="heading">
                        <h3><b>Platos Recomendados</b></h3>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="portfolioFilter clearfix margin-b-80">
                        <a href="#" data-filter="*" class="current"><b>TODAS LAS RECETAS</b></a>
                        <a href="#" data-filter=".web-design"><b> VEGANAS </b></a>
                        <a href="#" data-filter=".branding"><b> SALUDABLES </b></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolioContainer">

            <div class="p-item web-design">
                <a href="" data-fluidbox>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F7c%2Fad%2Fb6%2F7cadb6879b5b7d3543073bf56540e9e8.jpg&f=1&nofb=1" alt="">
                </a>
            </div>

            <div class="p-item web-design">
                <a href="" data-fluidbox>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F0a%2F1a%2F54%2F0a1a54ad9f90cf1503d39df07ee4ab50.jpg&f=1&nofb=1" alt="">
                </a>
            </div>

            <div class="p-item branding graphic-design">
                <a href="" data-fluidbox>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F36%2Fab%2Faa%2F36abaa372deccd0bec46d4729d3f1e26.jpg&f=1&nofb=1" alt="">
                </a>
            </div>

            <div class="p-item graphic-design web-design">
                <a href="" data-fluidbox>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.wp.com%2Fresizer.mundotkm.com%2Funsafe%2Fsmart%2Fhttp%3A%2F%2Fcfglobal01.mundotkm.com%2F2018%2F09%2Fensalada-600x400.png%3Fresize%3D600%252C400%26ssl%3D1&f=1&nofb=1" alt="">
                </a>
            </div>


        </div>

    </section>

    <section class="about-section section" id="counter">

        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="400" data-count="3">0</span></b></h1>
                        <h5 class="desc"><b>Recetas Creadas</b></h5>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="25">0</span></b></h1>
                        <h5 class="desc"><b>Cheff Visitados</b></h5>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="18">0</span></b></h1>
                        <h5 class="desc"><b>Comentarios Realizados</b></h5>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="700" data-count="180">0</span></b></h1>
                        <h5 class="desc"><b> Top Mundial </b></h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script src="~/js/profile/jquery-3.2.1.min.js"></script>
    <script src="~/js/profile/tether.min.js"></script>
    <script src="~/js/profile/bootstrap.js"></script>
    <script src="~/js/profile/isotope.pkgd.min.js"></script>
    <script src="~/js/profile/jquery.waypoints.min.js"></script>
    <script src="~/js/profile/progressbar.min.js"></script>
    <script src="~/js/profile/jquery.fluidbox.min.js"></script>
    <script src="~/js/profile/scripts.js"></script>

</body>
</html>