﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Recipe.io </title>
    <link rel="icon" href="~/elements/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/index/skills/progressbar.css">
    <link rel="stylesheet" href="~/css/index/skills/style.css">
    <link rel="stylesheet" href="~/css/index/fonticons.css">
    <link rel="stylesheet" href="~/css/index/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index/teamslide.css" />
    <link rel="stylesheet" href="~/css/index/plugins.css" />
    <link rel="stylesheet" href="~/css/index/style.css">
    <link rel="stylesheet" href="~/css/index/responsive.css" />
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default" id="navmenu">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#home" style="color:white;margin-left:50px;">
                                        RECIPE.IO<img src="~/elements/images/logo.png" style="margin-top:-30px;margin-left:-50px" />
                                    </a>
                                </div>


                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="Index"> Inicio </a></li>
                                        <li><a href="Vars"> Recetas </a></li>
                                        <li><a href="#portfolio"> Galeria </a></li>
                                        <li><a href="#Planes">Planes</a></li>
                                        <li><a href="#Salud">Salud</a></li>
                                        <li><a href=""><input type="button" class="btn btn-primary" style="margin-top:-10px;font-size:20px;" value="Iniciar Sessión"></a></li>

                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <script src="~/js/index/other/jquery-1.11.2.min.js"></script>
    <script src="~/js/index/other/bootstrap.min.js"></script>
    <script src="~/js/index/jquery.mixitup.min.js"></script>
    <script src="~/css/index/skills/inview.min.js"></script>
    <script src="~/css/index/skills/progressbar.js"></script>
    <script src="~/css/index/skills/main.js"></script>
    <script src="~/js/index/plugins.js"></script>
    <script src="~/js/index/main.js"></script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/site.min.js"></script>
        @RenderSection("Scripts", required: false)*@

</body>
</html>
